@import '~@angular/material/theming';
@include mat-core();

$Blog-app-primary: mat-palette($mat-blue-grey, 500);
$Blog-app-accent:  mat-palette($mat-red, A200);


$Blog-app-warn:    mat-palette($mat-red);


$Blog-app-theme: mat-light-theme($Blog-app-primary, $Blog-app-accent, $Blog-app-warn);


@include angular-material-theme($Blog-app-theme);